<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!--<add key="API_Root" value="https://localhost:44336/api/" />-->
    <add key="API_Root" value="https://www.associazionecacciatoribergamo.it/api/" />
    <add key="API_loginUsername" value="BGCacciaPescaAdministrator" />
    <add key="API_loginPassword" value="00CacciaEPesca00" />

	<add key="PDF_SourcePath_1" value="pdf\\source\\sourcePDF1.pdf" />
	<add key="PDF_ResultPath_1" value="pdf\\result\\compiledPDF1.pdf" />
	<add key="PDF_SourcePath_2" value="pdf\\source\\sourcePDF2.pdf" />
	<add key="PDF_ResultPath_2" value="pdf\\result\\compiledPDF2.pdf" />
  </appSettings>
  
</configuration>